{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/csshake.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jugar.css">
{% endblock %}

{% block content %}

	{% if logueado %}

		{% if dead %}

			<form method="POST" action="/action/revive">
				<h2>Estás muerto</h2>
				<p>Podrás seguir jugando desde cero, pero necesitarás revivir.</p>

			    <span style="display:block;">
			    	<button type="submit" class="btn btn-2 btn-2a">Revivir!</button>
				</span>
			</form>

		{% else %}

			{% if user.fullname %}

				<div class="container">

					<script src="/assets/js/ocanvas-2.8.6.min.js" type="text/javascript"></script>
                    <div id="hud">
						<canvas id="canvas" class="shake-constant" width="300" height="300" style="margin-top:40px;border: 2px solid #5e3f6b;background: #5e3f6b;" ></canvas>
    				    <div id="hud_controls" style="width:500px; margin: 20px auto; text-align: center;">
    				        <button class="control" value="izquierda" data-action="/action/move/left" >Izquierda</button>
    				        <button class="control" value="recto" data-action="/action/move/forward" >Recto</button>
    				        <button class="control" value="derecha" data-action="/action/move/right" >Derecha</button>
    				        <button class="control" value="giro" data-action="/action/move/turn" >Giro</button>
    				        <button class="control" value="attack" data-action="/action/attack" >Atacar</button>
    				    </div>
                    </div>
				    <div id="target" style="width:500px; margin: 20px auto; text-align: center;">
				        
				    </div>
				    <div id="log" style="width:500px; margin: 20px auto; text-align: left; font-family: monospace; font-size: 12px; color: #FFF;">

				    </div>

                    <script src="http://www.inter.es:30000/socket.io/socket.io.js"></script>
    				<script src="/assets/js/media_player.js"></script>
                    <script src="/assets/js/communications.js"></script>
                    <script src="/assets/js/game_canvas.js"></script>
				    <script type="text/javascript">
                        var data = {{data|raw}};
                        var user_id = {{user_id}};
                        
    				    $.fn.ready(function(){
                            INTER.canvas.init( data );
            				INTER.communications.init({ user_id : user_id, dom : INTER.canvas.dom });
    				    });
				    </script>

				</div>

		    {% else %}

			    <form method="POST" action="/login/setNick">
					<h2>No hemos encontrado tu correo en la base de datos de participantes de la MurciaLanParty.</h2>
					<p>Para poder jugar necesitas terner un nombre</p>
					<p>Al no ser participante de la MLP no podrás optar a premios, pero podrás jugar como los demás y fastidiarles la racha!</p>

					<span>Nave de <input type="text" name="nick" placeholder="Nick/Apodo" id='nick_input'/></span>

				    <span style="display:block;">
				    	<button type="submit" class="btn btn-2 btn-2a">Guardar Nick</button>
					</span>
				</form>
		   
		    {% endif %}

		{% endif %}

    {% else %}

    <h2>Necesitas estar logueado para participar en la partida</h2>
    <form style="width: 56%;margin: auto;" method="POST" action="/login">
    	<label for="email">Introduce el correo electrónico con el que te diste de alta en la <b>MurciaLanParty</b>.</label>
    	<input type="email" name="email" placeholder="Correo electrónico" id="login_input"/>
    	<button type="submit" class="btn btn-2 btn-2a">Login</button>
    	<p>Esta página no necesita preguntarte una clave o contraseña, al darnos tu 
    	dirección de correo, la comprobaremos en la base de datos de la Murcia lan party y 
    	te enviaremos un correo con un link para entrar a jugar.</p>
    	<p>Al darnos tu correo de registro en la <b>MurciaLanParty</b>, podremos reconocerte como participante y podrás optar a los premios de la competición.</p>
    	<p>Los usuarios registrados que no sean participantes podrán entrar a jugar sin opción a premio.</p>
    	<p>No hay ningún problema por tener multicuenta para participar</p>
    </form>


    {% endif %}

{% endblock %}