{% extends 'layout.twig' %}


{% block content %}

	{% if logueado %}

		{% if dead %}

			<form method="POST" action="/action/revive">
				<h2>Estás muerto</h2>
				<p>Podrás seguir jugando desde cero, pero necesitarás revivir.</p>

			    <span style="display:block;">
			    	<button type="submit" class="btn btn-2 btn-2a">Revivir!</button>
				</span>
			</form>

		{% else %}

			{% if user.fullname %}

				<div class="container">
				
						<canvas id="canvas" width="300" height="300" style="margin-top:40px;border: 8px solid #5e3f6b;border-radius: 50%;background: #5e3f6b;" ></canvas>
				    <div style="width:500px; margin: 20px auto; text-align: center;">
				        <button class="control" value="izquierda" data-action="/action/move/left" >Izquierda</button>
				        <button class="control" value="recto" data-action="/action/move/forward" >Recto</button>
				        <button class="control" value="derecha" data-action="/action/move/right" >Derecha</button>
				        <button class="control" value="giro" data-action="/action/move/turn" >Giro</button>
				        <button class="control" value="attack" data-action="/action/attack" >Atacar</button>
				    </div>
				    <div id="target" style="width:500px; margin: 20px auto; text-align: center;">
				        
				    </div>
				    <div id="log" style="width:500px; margin: 20px auto; text-align: left; font-family: monospace; font-size: 12px; color: #FFF;">

				    </div>
				    <script type="text/javascript">
				        var INTER = {};
				        INTER.canvas = {
				            canvas : document.getElementById('canvas'),
				            context : canvas.getContext('2d'),
				            content : {
				                data: [],
				                loaded: 0
				            },
				            bind_controls: function() {
				                $('.control').unbind('click').click(function(){
				                    $.post($(this).attr('data-action'),
				                        {},
				                        function(response){
				                        	console.log(response);
				                        	if (response.data.hasOwnProperty('dead')){
				                        		window.location = '/jugar';
				                        	}
				                            INTER.canvas.update(response.map.content);
				                            INTER.canvas.log(typeof response.data.messages != 'undefined' ? response.data.messages : []);
				                            INTER.canvas.targets(typeof response.map.os != 'undefined' ? response.map.os : []);
				                            INTER.canvas.bind_controls();
				                        }
				                    );
				                });
				            },
				            loader : function(imgs, callback) {
				                INTER.canvas.content.loaded = 0;
				                for (var i = imgs.length - 1; i >= 0; i--) {
				                    imgs[i].o = new Image();
				                    imgs[i].o.src = imgs[i].i;
				                    imgs[i].o.onload = callback;
				                }
				            },
				            update : function(data) {
				                INTER.canvas.content.data = data;
				                INTER.canvas.loader(INTER.canvas.content.data, INTER.canvas.draw);
				            },
				            draw : function(path, x, y) {
				                INTER.canvas.content.loaded++;

				                if (INTER.canvas.content.loaded == INTER.canvas.content.data.length) {
				                    var data = INTER.canvas.content.data;
				                    for (var i = 0; i < data.length; i++) {
				                        if (data[i].a != 0) {
				                            INTER.canvas.drawRotated(INTER.canvas.context, data[i].o, data[i].a*Math.PI/180, data[i].x, data[i].y);
				                        } else {
				                            INTER.canvas.context.drawImage(data[i].o, data[i].x, data[i].y);
				                        }
				                    }
				                }
				            },
				            drawRotated: function(context, image, angleInRad , positionX, positionY) {
				                INTER.canvas.context.translate( positionX + image.width/2, positionY + image.height/2 );
				                INTER.canvas.context.rotate( angleInRad );
				                INTER.canvas.context.drawImage( image, -image.width/2, -image.height/2 );
				                INTER.canvas.context.rotate( -angleInRad );
				                INTER.canvas.context.translate( - (positionX + image.width/2), - (positionY + image.height/2) );
				            },
				            log: function(messages) {
				                $('#log').html('');
				                if (messages == null) return;
				                for (var i = 0; i < messages.length; i++) {
				                    $('#log').append('<p>' + messages[i] + '</p>');
				                }
				            },
				            targets: function(ships) {
				                $('#target').html('');
				                for (var i = 0; i < ships.length; i++) {
				                    $('#target').append('<button class="control" data-action="/action/target/' + ships[i].id + '" >Fijar a ' + ships[i].name + '</button>');
				                }
				            }
				        };
				        var data = {{data|raw}};
				        INTER.canvas.update(data.content);
				        INTER.canvas.targets(typeof data.os != 'undefined' ? data.os : []);

				    </script>
				    <script>
				    $.fn.ready(function(){
				        INTER.canvas.bind_controls();
				    });
				    </script>

				</div>

		    {% else %}

			    <form method="POST" action="/login/setNick">
					<h2>No hemos encontrado tu correo en la base de datos de participantes de la MurciaLanParty.</h2>
					<p>Para poder jugar necesitas terner un nombre</p>
					<p>Al no ser participante de la MLP no podrás optar a premios, pero podrás jugar como los demás y fastidiarles la racha!</p>

					<span>Nave de <input type="text" name="nick" placeholder="Nick/Apodo" id='nick_input'/></span>

				    <span style="display:block;">
				    	<button type="submit" class="btn btn-2 btn-2a">Guardar Nick</button>
					</span>
				</form>
		   
		    {% endif %}

		{% endif %}

    {% else %}

    <h2>Necesitas estar logueado para participar en la partida</h2>
    <form style="width: 56%;margin: auto;" method="POST" action="/login">
    	<label for="email">Introduce el correo electrónico con el que te diste de alta en la <b>MurciaLanParty</b>.</label>
    	<input type="email" name="email" placeholder="Correo electrónico" id="login_input"/>
    	<button type="submit" class="btn btn-2 btn-2a">Login</button>
    	<p>Esta página no necesita preguntarte una clave o contraseña, al darnos tu 
    	dirección de correo, la comprobaremos en la base de datos de la Murcia lan party y 
    	te enviaremos un correo con un link para entrar a jugar.</p>
    	<p>Al darnos tu correo de registro en la <b>MurciaLanParty</b>, podremos reconocerte como participante y podrás optar a los premios de la competición.</p>
    	<p>Los usuarios registrados que no sean participantes podrán entrar a jugar sin opción a premio.</p>
    	<p>No hay ningún problema por tener multicuenta para participar</p>
    </form>


    {% endif %}

{% endblock %}