{% extends 'layout.twig' %}

{% block content %}

	<style>

		img {
			margin: 23px 0px;
		}
		.contacto img {
			margin: 0px;
			display: block;
		}

		h2 img {
			margin: 0px;
			width: 78px;
		}


		h2 {
		    border-bottom: 2px solid #AA83BB;
    		margin-bottom: 34px;	
    		color: #AA83BB;
    		font-size: 40px;
		
		}

		a.ct-logo {
		    display: block;
		    width: 187px;
		    height: 62px;
		    outline: none;
		    background: transparent url(http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/themes/codropstheme03/images/cs.png) no-repeat 0px 0px;
		    text-indent: -9000px;
		}
		a:hover, a:focus {
		    color: #AA83BB;
		    text-decoration: underline;
		}

		a {
		    color: #AA83BB;
		    
		}



		</style>

	<div class="container">	
		<div class="main row-fluid">
			<div class="col-xs-offset-2 col-xs-8">
				<h2>Who are we?</h2>

				<p>This game has a pourpose to have fun programming and playing with friends, if you want to get in touch with any of us, you can do it on Telegram with the following aliases:</p>
				<center>
					<div class="row-fluid contacto">
						<div class="col-sm-4">

							<a target="_blank" href="https://telegram.me/NdeNahun"><img src="/imgs/map/target.png"/><br/>@NdeNahun</a> 
						</div>
						<div class="col-sm-4">
								
							<a target="_blank" href="https://telegram.me/killer415"><img src="/imgs/map/target.png"/><br/>@kiLLeR415</a>
						</div>
						<div class="col-sm-4">

							<a target="_blank" href="https://telegram.me/mrtavo"><img src="/imgs/map/target.png"/><br/>@mrTavo</a>
						</div>
					</div>
				</center>
				<br clear="left">
				<br clear="left">
				<br clear="left">

				<p>Failures or improvements to discuss the best way is through<b><a href="https://github.com/guillermofr/interestelegram_bot/issues">github</a></b></p>

				<h2>Who has drawn these sprites?</h2>

				<p>The set of sprites have not been done by us, we used a fairly complete pack of ships made by a man who is dedicated to that.We have paid for their really good work.</p>
					<p>This particular person is kenney and you can find his work on his website <a href="http://kenney.nl/assets">website</a></p>
					<center><a target="_blank" href="http://kenney.nl/assets/space-shooter-redux"><img src="http://kenney.nl/data/img/logo.png"/></a></center>


				<h2>And the amazing web?</h2>
				<p>We thank codrops for HTML resources that can be found on his page, from where we have taken the landing.</p>
				<center><a target="_blank" class="ct-logo" href="http://tympanus.net/codrops/2013/04/01/app-showcase-with-grid-overlay/" rel="home">Codrops</a></center>
				<br/>	
				<br/>	
				<h2>You want to help?</h2>
				<p>If you have knowledge of PHP and you want to bring new mechanics or solve any potential bug, the project is completely on github and we are open to collaborations.</p>

				<p><a href="https://github.com/guillermofr/interestelegram_bot">https://github.com/guillermofr/interestelegram_bot/tree/canvas</a></p>

				<center><img target="_blank" src="/imgs/map/self_destruction.png"/></center>

			</div>
			
		</div><!-- /main -->
	</div><!-- /container -->

{% endblock %}